.card {
  width: 100%;
  height: 254px;
  border-radius: 4px;
  background: #212121;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: .4em;
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #92d050;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
}

.card .hidden-info {
  display: none;
  position: absolute;
  top: 60%;
  transform: translateX(-50%);
  padding: 0.5em;
  color: #fff;
}

.card p:hover {
  flex: 4;
}

.card p:hover .hidden-info {
  display: block; // Afficher les informations supplémentaires lors du survol
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  color: #92d050;
  letter-spacing: .1em;
}

.card p:hover span {
  transform: rotate(0);
}
