<div class="mt-3">
  <h1>Mes experiences professionelles</h1>
  <% @realisations_pro.each do |real_pro| %>
    <h2 class="mt-4"><%= real_pro.titre %></h2>
    <p><%= real_pro.description %></p>
    <% if real_pro.photos.present? %>
      <% real_pro.photos.each_with_index do |photo, index| %>
        <div class="mt-3" data-aos="fade-in" data-aos-duration = "900" data-aos-easing= "ease-in-sine">
          <%= image_tag photo.source, alt: "Photo n° #{index + 1}", class: "d-block w-100" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
