.image-container {
  display:block;
  position:relative;
}

.image-container img {
  width: 100%;
  border-radius: 50%
}

.image-container::before {
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  -moz-box-shadow:inset 0px 0px 12px 15px #454545;
  -webkit-box-shadow:inset 0px 0px 12px 15px #454545;
  box-shadow:inset 0px 0px 12px 15px #454545;
  border-radius: 48%
}
